@media screen and (min-width: 1251px) {

.top {
display: none;
	}
		.copyright{
   display: none;
	}
	
	.dd{
margin-right:49px;
}
}
	
@media screen and (max-width: 1250px) {
.top{
height: 44px;
background-color: #181818;
width: 100%;
top: 0;
position: fixed;
opacity: 0.95;
z-index: 1000;
}
#footer{
display:none;
}
.wrapper-dropdown-5{
width: 44px;
border-radius: 5px;
cursor: pointer;
outline: none;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
height: 44px;
position: absolute;
}
.wrapper-dropdown-5 .dropdown{
position: fixed;
left: 0;
right: 0;
list-style: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
max-height: 0;
overflow: hidden;
width: 100%;
background-color: #DDD;
border-bottom-width: 1px;
border-bottom-color: #C1C1C1;
height: 100%;
}
.logo{
height: 44px;
width: 44px;
margin-right: auto;
margin-left: auto;
}
#header{
display:none;
}
#page{
width: 100%;
}

#top1{
margin-top: 0px;
line-height: 0px;
line-height: 50px;
}
.design_top{
padding-top: 65px;
width: 920px;
padding-left: 0px;
}
.container{
margin-top: 0px;
padding-bottom: 0px;
margin-top: 20px;
width: 100%;
}
.copyright{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #323333;
}
.copyright a{
text-decoration: none;
color: #999;
font-size: 12px;
}
#sidebar{
display: none;
}
.item img {
width: 448px;
}
.dd{
margin-right: 20px;
}

#old_big_k{
z-index: 0;
width: 921px;
padding-top: 0;
margin: auto;

}
.item img:hover {
-webkit-box-shadow: 0 0 0 #ACACAC;
}
#cds {
display:none;
}

.index_nav3{
height: 98px;
padding-left: 8px;
padding-top: 10px;
padding-bottom: 10px;
 margin-left: -40px;
}
.index_nav_icon{
background-color: #181818;
height: 65px;
width: 32%;
float: left;
text-align: center;
border-radius: 2px;
margin-right: 2px;
margin-left: 1px;
margin-top: 10px;
}


.index_nav_icon a
{
	text-decoration:none;
	display:block;
	height:68px;
	padding-top:25px;
	color:#fff;
}

.wrapper-dropdown-5.active .dropdown {
border-bottom: 1px solid rgba(0,0,0,0.1);
max-height: 100%;
    margin-top: -3px;
}

.index_nav_icon{
background-color: #181818;
height: 65px;
width: 32%;
float: left;
text-align: center;
border-radius: 2px;
margin-right: 2px;
margin-left: 1px;
margin-top: 10px;
}
 }

/************************************************************************************
smaller than 981
*************************************************************************************/

@media screen and (min-width: 981px) {
.dds {
margin-right: 0px;
}


	#ps{
	display: inline-block;
	
	}


	.design1_top{
	display: none;
	}
	
	#foot 
{
padding: 20px 0 20px 0;
background-color: #EAEAEA;
border-top: 1px #dcdcdc solid;
border-bottom: 1px #dcdcdc solid;
}
	
		#pl{
	float: left;
	display: inline-block;
	margin-right: 44px;
	}
			#pd{
	float: left;
	display: inline-block;
	
	}
	
	}
	
/************************************************************************************
smaller than 980
*************************************************************************************/

@media screen and (max-width: 980px) {

		#pl{
	
	margin-right: 0px;
	}

.dd{
margin-right: 0px;
}
.design_top
{
	padding-top: 65px;
width: 95%;
padding-left: 0px;
}

.index_title
{
	padding:0;
}

.container4
{
	width:100%;
	float:left;
	background-color:#E3E3E3;
	padding-bottom:0;
}

.container2
{
	width:100%;
	float:left;
	background-color:#E3E3E3;
	padding-bottom:0;
	margin-top:-50px;
}

.item img
{
	width:100%;
	height:100%;
	border-radius:4px;
}

#page
{
	width:100%;
	padding-bottom:0;
}

#pagewrap
{
	width:94%;
}

#sidebara
{
	font-size:12px;
	margin-left:22%;
	display:none;
}

#pe
{
	cursor:pointer;
	height:auto;
}

#old_con
{
	margin-right:0;
}



.design_top2
{
	margin:40px 0 0;
}

.icon
{
	margin-left:4px;
	margin-top:6px;
}

.icon a
{
	-webkit-background-size:cover;
	width:144px;
	height:20px;
}

#logo
{
	margin:12px auto auto;
}

#ps p
{
	height:0;
	float:left;
	padding-top:7px;
	font-family:寰蒋闆呴粦;
	color:#A1A1A1;
	font-size:0;
}

#ps
{
	margin-right:0;
	cursor:pointer;
	height:auto;
	width: 100%;
}

.design
{
	width:100%;
	margin-right:auto;
	margin-left:auto;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#DDD;
}

.copyright_certificate
{
	width:265px;
}

.container
{
	width:100%;
}

.copyright
{
    font-family: STHeitiSC-Light;
    font-size: 10px;
    line-height: 18px;
    color: #AAA;
    height: 62px;
    padding-top: 10px;
    margin-top: 15px;
    float: left;
    width: 100%;
	
}

.copyright a
{
	text-decoration:none;
	color:#999;
	font-size:12px;
}

.copyright a:hover
{
	text-decoration:none;
}

.top
{
	height:44px;
	background-color:#181818;
	width:100%;
	top:0;
	position:fixed;
	opacity:0.95;
	z-index:1000;
}

.logo
{
	height:44px;
	width:44px;
	margin-right:auto;
	margin-left:auto;
}

.tongji
{
	width:100%;
	font-size:12px;
	position:fixed;
	height:20px;
	top:-30px;
	opacity:0;
}

.nav_icon
{
	width:44px;
	position:absolute;
	height:44px;
	left:0;
	top:0;
}

.index_nav3
{
	height:98px;
	padding-left:8px;
	padding-top:10px;
	padding-bottom:10px;
}

.index_nav_icon
{
	background-color:#181818;
	height:65px;
	width:32%;
	float:left;
	text-align:center;
	border-radius:2px;
	margin-right:2px;
	margin-left:1px;
	margin-top:10px;
}

.index_nav_icon a
{
	text-decoration:none;
	display:block;
	height:68px;
	padding-top:25px;
	color:#fff;
}

.index_nav_more2
{
	height:14px;
	padding-left:5px;
	padding-right:5px;
	position:absolute;
	background-color:#FFF;
	top:3px;
	left:58%;
	border-radius:20px;
	z-index:1000;
	padding-top:3px;
}

.wrapper-dropdown-5
{
	width:44px;
	border-radius:5px;
	cursor:pointer;
	outline:none;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	height:44px;
	position:absolute;
}

.wrapper-dropdown-5:after
{
	content:"";
	width:0;
	height:0;
	position:absolute;
	top:50%;
	right:15px;
	margin-top:-3px;
	border-width:6px 6px 0;
}

.wrapper-dropdown-5 .dropdown
{
	position:fixed;
	left:0;
	right:0;
	list-style:none;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
	max-height:0;
	overflow:hidden;
	width:100%;
	background-color:#DDD;
	border-bottom-width:1px;
	border-bottom-color:#C1C1C1;
	height:100%;
}

.wrapper-dropdown-5 .dropdown li
{
	padding:0 10px;
}

.wrapper-dropdown-5 .dropdown li a
{
	display:block;
	text-decoration:none;
	color:#333;
	transition:all .3s ease-out;
	border-bottom:1px solid #e6e8ea;
	padding:10px 0;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a
{
	border:none;
}

.wrapper-dropdown-5 .dropdown li i
{
	margin-right:5px;
	color:inherit;
	vertical-align:middle;
}

.wrapper-dropdown-5 .dropdown li:hover a
{
	color:#57a9d9;
}

.wrapper-dropdown-5.active .dropdown
{
	border-bottom:1px solid rgba(0,0,0,0.1);
	max-height:100%;
}

.iframe_d
{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
}

#mainframe
{
	safariosx:no support;
}

.group_tab,.ico_index_premiere01,.ico_index_premiere02,.ico_index_premiere03,.ico_index_premiere04,.ico_index_premiere05,.ico_index_premiere06,.header,.play_name,.design1_top,#header-container,#cd,#header-icons,#sidebar,#sidebar .widget,.copyright_w
{
	display:none;
}

#cds,#old_big_k,#content,#pr
{
	width:100%;
}

.container6,.container5,.container3
{
	width:100%;
	float:left;
	background-color:#E3E3E3;
	padding-bottom:0;
	margin-top:0;
}
	
}	








